AlignQC==2.0.5
attrs==17.4.0
Automat==0.6.0
backports.functools-lru-cache==1.5
colour==0.1.5
constantly==15.1.0
cycler==0.10.0
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.2
mpld3==0.3
numpy==1.14.3
pyftpdlib==1.5.3
pyparsing==2.2.0
pysam==0.14.1
python-dateutil==2.7.2
pytz==2018.4
seq-tools==1.0.10
six==1.11.0
subprocess32==3.2.7
Twisted==18.4.0
zope.interface==4.5.0
